.DS_Store
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.com.apple.timemachine.donotpresent
.apdisk
